<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thait.mathetistics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity
            android:name=".TopicSelection"
            android:label="@string/title_activity_topic_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Algebra1" />
        <activity android:name=".Algebra2" />
        <activity android:name=".Geometry" />
        <activity android:name=".Calculus" />
        <activity android:name=".Choice" />
        <activity android:name=".LinearEquation" />
        <activity android:name=".Compete" />
        <activity android:name=".Rank" />
        <activity android:name=".Exercise" />
        <activity android:name=".Scored" />
        <activity android:name=".QRegistration" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Username" />
        <activity android:name=".Pt" />
        <activity android:name=".Pt_ex" />
        <activity android:name=".Directions"></activity>
    </application>

</manifest>
